.standing{
    padding: 16px 14px;
}

.standing img{
    width:1.5em;
    height: max-content;
}

table{
    display: flex;
    justify-content: space-between;
}

thead tr{
    display:flex;
    align-items:center;
    gap:8px
}

tbody tr {
    padding: 0 3px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    gap: 28px;
}